<!DOCTYPE html>
<html>
<head>
  <title>GoodEats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href = "<%= restaurants_path %>"><h1>ALL THE RESTAURANTS</h1></a>
  <a href="<%= new_restaurant_path %>"><h2>New Restaurant<h2></a>

  <% if notice %>
    <p><%= notice %></p>
  <% end %>

  <%= yield %>

</body>
</html>
